@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Geograph';
        font-weight: 400;
        src: url(/fonts/geograph/geographwebregular.woff) format("woff");
    }
}

@layer utilities {
    .link-underline {
        border-bottom-width: 0;
        background-size: 0% 1px;
        /* Start with zero width */
        background-position: center 100%;
        /* Center the line horizontally */
        background-repeat: no-repeat;
        transition: background-size .5s ease;
        padding-bottom: 0.2rem;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#04247d, #04247d);
    }

    .link-underline:hover {
        background-size: 100% 1px;
        /* Expand to full width on hover */
        background-position: center 100%;
        /* Keep it centered */
    }

    :root:has(.no-doc-scroll) {
        overflow: hidden;
    }
}

/* Global styles */
body {
    font-family: 'Geograph', sans-serif;
    /* Fallback to default sans-serif */
}